.rounded-md .icon {
  padding-top: 0.5rem;
}

div.rounded-md svg {
  height: 1.5rem;
  width: 1.5rem;
}

.large-icon svg {
  float: left;
  height: 5em;
  width: 5em;
  padding: 0.1em 0.5em 0 0;
}

pre.mermaid {
  background-color: transparent !important;
}
